#main {
    background-color: rgb(245, 247, 252);
    font-family: Roboto;
    padding: 20px;
}

.top-header-row {
    margin-bottom: 20px;
}

.top-header-row > div {
    margin: auto
}

#show-comparison-tables {
    margin-left: 30px;
}

#kappa-score-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 2px 0px;
    display: none;
    font-size: 13px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
    width: 600px;
}

#main.show-result #kappa-score-wrapper {
    display: block;
}

#kappa-score-wrapper > div:first-child > span {
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 10px;
}

.kappa-score {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#metamap-output span {
    margin-left: 4px;
}

#metamap-output span:first-child {
    margin-left: 0;
}

.post-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 2px 0px;
    height: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.user {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.post,
.selectize-input {
    color: rgb(50,50,50);
    font-size: 14px;
    padding: 10px;
}

.post-body {
    margin-bottom: 6px;
}

.post-num {
    background-color: rgba(116, 182, 243, 0.25);
    border-radius: 6px;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 22px;
}

.post-body span {
    margin-left: 2px !important;
}

.concept {
    border-radius: 4px;
    padding: 1px 2px;
}

.post.show-result .concept {
    background-color: rgba(136, 231, 164, 0.5);
}

.author {
    color: rgb(61, 67, 73);
    display: inline-block;
    font-size: 11px;
}

.author > span {
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    padding: 4px;
}

.selectize-control .item .remove {
    font-size: 16px !important;
    opacity: 0.2 !important;
}

.selectize-control .item .remove:hover {
    opacity: 1 !important;
}

input,
.selectize-input {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: none !important;
    outline: none !important;
}

.option {
    font-size: 13px !important;
}

.selectize-input {
    display: none;
}

.selectize-control .create {
    font-size: 14px;
    padding: 4px 12px;
}

.select-code.show-result .selectize-input {
    display: inline-block;
}

.app-button {
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 4px;
    padding: 4px 8px;
}

.app-button:hover {
    background-color:rgba(0, 0, 0, 0.2);
}

.options-container {
    margin-bottom: 10px;
}

.json-result {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.24);
    display: none;
    padding: 20px;
    position: absolute;
    top: 100%;
    z-index: 100;
}

.json-result.show-result {
    display: block;
}

.json-result .close {
    color: rgba(243, 47, 47, 0.5);
    content: '×';
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 8px;
    top: 4px;
}

.json-result .close:hover {
    color: rgba(243, 47, 47, 1) !important;
}

#metamap-output.show-result .comparison-table {
    display: block;
}

.comparison-table {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 2px 0px;
    display: none;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: -20px;
    width: 800px;
}

.comparison-table .col-header {
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.comparison-table .col-md-3 {
    border: 1px solid rgba(0, 0, 0, 0.025);
}

.has-data {
    background-color: rgba(136, 231, 164, 0.5);
}