#main {
    background-color: rgb(245, 247, 252);
    font-family: Roboto;
    padding: 20px;
}

.header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}

#metamap-output span {
    margin-left: 4px;
}

#metamap-output span:first-child {
    margin-left: 0;
}

.post-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 2px 0px;
    height: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.user {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.post,
.selectize-input {
    color: rgb(50,50,50);
    font-size: 14px;
    padding: 10px;
}

.post-body {
    margin-bottom: 6px;
}

.post-num {
    background-color: rgba(116, 182, 243, 0.25);
    border-radius: 6px;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 22px;
}

.concept {
    background-color: rgba(136, 231, 164, 0.5);
    border-radius: 4px;
    padding: 1px 2px;
}

.author {
    color: rgb(61, 67, 73);
    display: inline-block;
    font-size: 11px;
}

.author > span {
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    padding: 4px;
}

.selectize-control .item .remove {
    font-size: 16px !important;
    opacity: 0.2 !important;
}

.selectize-control .item .remove:hover {
    opacity: 1 !important;
}

input,
.selectize-input {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: none !important;
    outline: none !important;
}

.option {
    font-size: 13px !important;
}

/*
.selectize-control .item {
    background-color: rgba(136, 231, 164, 0.5) !important;
    color: black !important;
}



input,
.selectize-input {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
*/